*{
    margin: 0px;
    padding: 0px;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.logo-title:hover{
    transition: all 2s ease-in-out ;
}
.new-arrivals{

    background-image: url(../Vector\ 8.svg);
    background-repeat: no-repeat;
}
.vertical-collage img{
    height: calc(( 100% - 5px )/2);

}